.banner {
  display: flex;
  justify-content: center;
  margin: 101px auto 0;
}

.banner img {
  width: -webkit-fill-available;
  position: absolute
}

.banner .title {
  width: 610px;
}

.banner h1 {
  color: white;
  position: relative;
  font-weight: bold;
  font-size: 48px;
  margin: 0;
}

.banner p {
  font-size: 20px;
  color: white;
  position: relative;
  margin: 40px 0;
  line-height: 1.5;
}

.banner .container {
  width: 1200px;
  margin-top: 110px;
}

.main-container {
  width: 100%;
  max-width: 1030px;
  margin: auto;
  border: 1px solid #FAE9E9;
  background: white;
  position: relative;
  margin-top: 130px;
  padding: 0 15px
}

.section-container {
  width: 100%;
  max-width: 1030px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}

.cards-middle {
  width: 100%;
  max-width: 990px;
  position: relative;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between
}

.cards-middle span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  color: white;
  background-color: rgb(16, 50, 95, 85%);
  height: 53px;
  position: relative;
  top: -53px;
  border-radius: 10px;
}

.article {
  color: #888888;
  display: flex;
  justify-content: space-between;
}

.article h2 {
  font-size: 30px;
  font-weight: bold;
  color: #161616;
  width: 350px;
  margin-bottom: 20px
}

.article h2::before {
  content: "";
  background: black;
  display: block;
  width: 90px;
  border: 2.5px solid #161616;
  margin-bottom: 8px;
}

.article p {
  margin-bottom: 20px;
  width: 440px;
}

.article a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 215px;
  height: 55px;
  color: white;
  background-color: #10325F;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 30px;
}

.benefits {
  margin: 95px 0 46px
}

.benefits h2 {
  font-size: 30px ;
  font-weight: bold;
  color: #161616;
  margin-bottom: 36px;
  text-align: center;
}

.benefits h2::before {
  content: "";
  background: black;
  display: block;
  width: 90px;
  border: 2.5px solid #161616;
  margin: auto;
  margin-bottom: 8px;
}

.benefits .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.benefits .cards span {
  font-size: 17px;
  font-weight: bold;
  color: #10325F;
  background: unset;
  display: block;
  margin: 10px 0;
}

.benefits .cards img {
  width: 32px
}

.benefits .card {
  width: 240px;
  height: 229px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 40px 12px 40px;
  box-sizing: border-box;
  margin-bottom: 20px
}

.benefits .card img {
  display: block
}

.benefits .card p {
  color: #888888;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
}

