.box, .content-box {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 90px;
  */
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
  .box, .content-box {
    display: grid;
    margin-bottom: 40px;
    grid-template-columns: repeat(1, 1fr);

    h2 {
      text-align: center;
      margin: auto;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
  .box img {
    width: -webkit-fill-available;
  }
} */


.box.first:before {
  content: "";
  display: block;
  width: 18px;
  height: 15px;
  border-right: 5px solid #161616;
  border-top: 5px solid #161616;
  margin: auto;
  position: absolute;
  top: 0px;
  right: 0;
}

.box.last {
  margin-bottom: 0;
}

.box.last:after {
  content: "";
  display: block;
  width: 18px;
  height: 15px;
  border-right: 5px solid #161616;
  border-bottom: 5px solid #161616;
  margin: auto;
  position: absolute;
  bottom: 0px;
  right: 0;
}

.box-text {
  max-width: 400px
}

.box-text.full{
  max-width: 100%
}

.box-text h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px
}

.box-text h2.vision {
  margin-top: 40px
}

.box-text p {
  color: #888888;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 24px;
  font-weight: 500;
}

.box-text ul {
  list-style: initial;
  color: #888888;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 24px;
  font-weight: 500;
  padding-left: 18px
}

.specialists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.specialists-title {
  margin-top: 80px;
}

.specialist-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 35px;
  text-align: center;
  line-height: 24px;
}

.specialist-card img {
  width: 180px;
  border-radius: 50%;
}

.specialist-card .name {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}

.specialist-card .position {
  margin-bottom: 20px;
}

.specialist-card p {
  margin-bottom: 10px;
  font-weight: 500;
  color: #888888;
}

@media only screen and (max-width: 768px) {
  .box-text {
    max-width: 100%;
    width: 100%;
    margin-top: 40px;
  }
}