.banner-buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 480px
}

.know-more { 
  color: #10325F;
  background-color: white
}

.contact-us {
  color: white;
  background-color: #10325F
}

.banner-buttons a {
  text-decoration: none;
  width: 230px;
  height: 55px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px
}

@media only screen and (max-width: 768px) {
  .banner-buttons {
    justify-content: center;
  }
  .banner-buttons a {
    font-size: 14px;
    height: 45px;
    width: 150px;
    margin-right: 15px
  }
}