.header {
  width: 100%;
  color: white;
  font-size: 13px;
}

.header .logo-menu {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
}

.speechbar {
  height: 61px;
  background-color: #10325F;
  display: flex;
  align-items: center;
}

.speechbar .container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.contact a {
  margin-right: 30px;
  color: white;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.contact a img {
  margin-right: 5px;
}

@media only screen and (max-width: 768px) {

  .speechbar{
    padding: 0 10px;
    box-sizing: border-box;
    height: 32px;
  }
  .contact a {
    margin-right: 13px;
    font-size: 10px;
  }
  .contact a img {
    width: 20px
  }
  .header .logo-menu {
    padding: 0 10px;
    height: 60px;
  }
  .logo-menu img {
    max-width: 100px
  }
  .header nav {
    display: none;
  }
}
